{% extends 'base.html' %}

{% block content %}

<h2 class="text-center mb-4">Change Password</h2>

<form method="POST" action="{% url 'change_password' %}">
    {% csrf_token %}

    {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {% for field in form %}
        {% if field.errors %}
        {{ field.errors }}
        {% endif %}
        {% endfor %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

    {{ form.as_p }}
    <button type="submit" class="btn btn-secondary">Change Password</button>
</form>

{% endblock %}
